* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(https://static.pexels.com/photos/355465/pexels-photo-355465.jpeg);
}

a:hover {
  text-decoration: none;
}

.container {
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  margin: 0 auto;
}

.nav-hed {
  font-family: 'Fredoka One', cursive;
}

.page-title {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 20px;
}

.campuses {
  margin-top: 2.5em;
}

.panel {
  background: rgba(255, 255, 255, 0.8);
}

.section {
  margin: 0 auto;
  padding-bottom: 20px;
}

.section-hed {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  padding-left: 20px;
  margin-bottom: 1em;
}

.students-table {
  background: #fff;
  font-family: 'Fredoka One', cursive;
  padding: 1em;
  margin-left: 2em;
}
